[Unit]
Description=Video Streamer Service
After=network.target

[Service]
ExecStart=/usr/bin/video-streamer /etc/video-streamer/config.json
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
