[Unit]
Description=Video Streamer Service
After=network.target

[Service]
ExecStart=/usr/bin/mrobot-controller /etc/mrobot-controller/config.json
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
